[Unit]
Description=emqttd service
After=network.target

[Service]
Type=forking
WorkingDirectory={{ emqttd_root }}/emqttd
ExecStart=./bin/emqttd start
ExecStop=./bin/emqttd stop
User={{ emqttd_user }}
Restart=always
RestartSec=10
LimitNOFILE={{ limit_nofile }}

[Install]
WantedBy=multi-user.target
